<div class="container">
  <header>
    <h1>Select Account</h1>
    <p>Please select the relationship account.</p>
  </header>

  <div>
    <mat-radio-group class="account-container" (change)="onChange($event)">
      <mat-radio-button class="account" *ngFor="let account of accounts" [value]="account">
        <div>
          <h4>{{account.type}}</h4>
          <p>{{account.title1}} {{account.title2}}</p>
        </div>
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <footer>
    <p>Your account will be opened immediately after the confirmation by authorization code and is immediately ready for use. If in doubt, please contact the advisor by phone.</p>
    <div class="button-group">
      <button mat-raised-button color="primary" (click)="onNext()" [disabled]="invalid">Next</button>
      <button mat-raised-button>Cancel</button>
    </div>
  </footer>
</div>
