/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@media screen and (min-width: 1920px) {
  html { font-size: 20px; }
}
@media screen and (max-width: 1920px) {
  html { font-size: 20px; }
}
@media screen and (max-width: 1680px) {
  html { font-size:17.5px; }
}
@media screen and (max-width: 1600px) {
  html { font-size:16.67px; }
}
@media screen and (max-width: 1440px) {
  html { font-size:15px; }
}
@media screen and (max-width: 1400px) {
  html { font-size:14.58px; }
}
@media screen and (max-width: 1366px) {
  html { font-size:14.23px; }
}
@media screen and (max-width: 1280px) {
  html { font-size:13.33px; }
}

.mat-radio-label {
  white-space: normal !important;
}
